.page-header {
    background-color: $main-background-color;

    &__container {
        @include container;
    }

    &__navigation {
        margin: 0 auto;
    }

    &__dropdown {
        margin-bottom: 24px;
        margin-left: auto;
    }

    &__image {
        width: 100%;
    }
}

.dropdown {
    position: relative;
    width: 44px;
    height: 37px;

    background-color: $secondary-background-color;
    background-image: url("./images/header/menu-button.svg");
    background-position: center;
    cursor: pointer;
    user-select: none;

    &--active {
        background-image: url("./images/header/menu-button-active.svg");
    }

    &__list {
        display: none;
        position: absolute;
        top: 37px;
        right: 0;

        width: 182px;
        background: $third-background-color;

        &--active {
            display: block;
        }
    }

    &__item {
        padding: 4px 14px;
        box-sizing: border-box;

        &:hover {
            background: #E5E5E5;
        }
    }

    &__link {
        @include text(11px, 22px);
        letter-spacing: 1.1px;
        text-transform: uppercase;
    }
}

.navigation {
    width: 80%;
    margin-bottom: 44px;
    display: none;

    &__link {
        @include text(11px, 22px);
        letter-spacing: 1.1px;
        text-transform: uppercase;

        &:hover {
            color: #57A4A4;
        }
    }
}

@media (min-width: $medium-screen-width) {
    .dropdown {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }
}